/*
Folha de Estilo site
asia
*/
body{
 background: Wheat;
  width: 800px;
  margin: auto;
}

h1{
  color: black;
  text-align: center;
}

p{
  color: black;
  border: 1px black;
  padding: 7px;
}

.main-an{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr;
}

h3{
  text-align: center;
}
