/*
Folha de Estilo site
europa
*/
body{
  background: LightSteelBlue;
  width: 800px;
  margin: auto;
}

h1{
  color: #8B0000;
  text-align: center;
}

p{
  color: black;
  border: 1px black;
  padding: 7px;
}
