/*
Folha de Estilo site
Paris
*/
body{
  background: #5F9EA0;
  width: 800px;
  margin:auto;
}

h1{
  color: red;
  text-align: center;
}

p{
  collor: black;
  border: 1px red;
  paddig: 7px;
}

h3{
  text-align: center;
}
